In [37]:
import pandas as pd
import numpy as np
from scipy import stats

# 置信区间

In [108]:
df = pd.read_csv(r"C:\Users\jibu1001\OneDrive - Nielsen IQ\Desktop\Daily work\FC\12.13 yili ice\NATIONAL\data.csv" )

In [93]:
# df = df.drop(labels="   ", axis=1)

In [113]:
df.head()

   PERIOD_ID    STORE_ID COND    PROD  FLAG   SALES_VALUE   SALES_VOLUME
0   20211410  7600630994  @NA  @ICECR     1  10072.196560  194319.714300
1   20211410  7600736729  @NA  @ICECR     1    755.610000    9248.428392
2   20211410  7600782773  @NA  @ICECR     1   3449.662855  121667.714300
3   20211410  7600506503  @NA  @ICECR     1   4568.560000   43524.800000
4   20211410  7600675606  @NA  @ICECR     1   7224.244283  120619.001200

In [114]:
sales_value = df['SALES_VALUE'].astype(int).to_list()

In [115]:
sales_value = df.groupby(['STORE_ID']).SALES_VALUE.sum()

In [116]:
sample_count = len(sales_value)

In [117]:
a = 0.05

In [118]:
x_bar = np.average(sales_value)

In [119]:
stderr = np.std(sales_value)

In [120]:
t_a2 = stats.t.isf(a/2, sample_count-1)

In [122]:
right = x_bar + t_a2*(stderr/np.sqrt(sample_count))
left = x_bar - t_a2*(stderr/np.sqrt(sample_count))

In [123]:
print('95%的置信区间为（{:.3f},{:.3f}）'.format(left,right))

95%的置信区间为（4319.804,4778.689）